*{
    font-family: 'Poppins', sans-serif;
}

.card{
    background-color: transparent !important;
    display: flex;
}

.card-img{
    width: 1300px;
    height: 500px;
    padding-left: 15px;
}

.card-img-overlay{
    padding-left: 70px;
}

.glow{
    color: black;
}

.emergency{
    padding-left: 300px;
    padding-top: 330px;
}

a{
    color: black;
}
.signin{
    margin-top: -60px;
    padding-left: 800px;
}

.log-in{
    margin-top: -40px;
    padding-left: 60px;
}

.emergency{
    padding-left: 392px;
}