

<div class="card text-white">
    <img src="/assets/doctor1.jpg" class="card-img" alt="...">
    <div class="card-img-overlay">
      
      <h1 class="display-3 glow">You'll Love the Way We Care for You</h1>
      <div class="emergency"> 
        <h2 style="color: black;">Any Emergency?</h2>
      <div><button type="button" class="btn btn-primary btn-lg"><a href="contactUs">Contact Us</a></button></div>
      </div> 
    </div>
  </div>
  <br><br><br>
  <div class="log-in" style="display: flex;">
    <h2>Already Signed In! <a href="login"><button type="button" class="btn btn-primary btn-lg" style="background-color: #4CAF50; border: none; padding-left: 5px;">Login</button></a></h2>
  </div>
  <div class="signin">
      <h2>New to the Page? <a href="signup"><button type="button" class="btn btn-primary btn-lg" style="background-color: #4CAF50; border: none; padding-left: 5px;">Sign Up</button></a></h2>
      
  </div>